@font-face {
    src: url("font/SofiaProRegular.ttf");
    font-family: "Sofia Pro";
}
@font-face {
    font-family: 'Hylia Serif';
    src: url('HyliaSerifBeta-Regular.otf') format('opentype'); 
}
.hylia-serif {
    font-family: 'Hylia Serif', serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Sofia Pro";
}
html body{
    max-width: 100%;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.body{
    background-color: #F2EDDB;
}
.about{
    padding-block: 50px;
}
.about-text{
    width: 80%;
}
.about .list-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.about h1{
    font-size: 40px;
}
.about h5{
    font-weight: 600;
}
.about p{
    padding-block: 20px;
}
.about-btn{
    border: 1px solid black;
    padding-block: 10px;
    padding-inline: 20px;
    width: 180px;
}
.about-btn:hover{
    background-color: black !important;
    color: white !important;
}
.all-buttons{
    max-width: 90%;
}
.email-btn{
    background-color: black !important;
    color: white !important;
    padding-block: 10px;
    min-width: 100%;
    margin-top: 20px;
}
small{
    font-size: 18px;
}
.social-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.social-list li a{
    text-decoration: none;
    color: black;
}
.social-list li a i{
    font-size: 25px;
}
.p-div{
    height: 100%;
    display: table;
}
.c-div{
    display: table-cell;
    vertical-align: middle;
}
.education{
    padding-top: 50px;
}
.edu-flex{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.master{
    background-color: #FFFFFF66;
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px;
    width: 40%;
}
.date{
    background-color: #FFDDD3;
    color: #C27058;
    border-radius: 50px;
    padding-inline: 15px;
    padding-block: 3px;
    display: inline;
}
.m-text{
    width: 90%;
}
.date-2{
    background-color: #DBCFFF;
    color: #7456CF;
    border-radius: 50px;
    padding-inline: 15px;
    padding-block: 3px;
    display: inline;
}
.skills{
    padding-top: 80px;
}
.skill-div h3{
    padding-block: 10px;
    color: #EBAD48;
    font-weight: bold;
}
.skill-div{
    padding-top: 30px;
}
.skills-all{
    padding-left: 120px;
}
.frame-img{
    width: 75%;
}
.work-sub{
    color: #EBAD48;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.tags-list{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}
.btn-tag{
    background-color: #515151 !important;
    color: white !important;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 50px;
}
.links-list{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}
.purple{
    color: #744DEF;
    font-weight: bold;
    text-decoration: none;
}
.green{
    color: #4DDCEF;
    font-weight: bold;
    text-decoration: none;
}
.orange{
    color: #EF8D4D;
    font-weight: bold;
    text-decoration: none;
}
.projects-section{
    padding-top: 100px;
}
.interests{
    padding-block: 70px;
}
.footer{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.a-div{
    padding-top: 30px;
}
.work{
    padding-top: 60px;
}
.projects{
    margin-top: 20px;
}

.column {
    width: 135px;  /* Set width */
    padding: 1px 0px;  /* Adjust padding to reduce gap */
    display: flex;
    align-items: center;
}
.custom-btn {
    height: 40px;  /* Set height */
}


/* responsiveness */
@media screen and (max-width: 767px) {
    html{
        max-width: 100%;
        overflow-x: hidden;
    }
    .a-div{
        padding-top: 0;
    }
    .about-text{
        min-width: 100%;
    }
    .all-buttons{
        min-width: 100%;
    }
    .about .list-1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .about-btn{
        width: 100%;
        padding-inline: 5px;
    }
    .o-2{
        order: 2;
    }
    .o-3{
        order: 1;
    }
    .social-list{
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        padding: 0;
        gap: 20px;
    }
    .pm-div , .cm-div{
        display: unset;
        height: unset;
    }
    .edu-flex{
        flex-direction: column;
        gap: 10px;
    }
    .master{
        width: 100%;
        margin-top: 20px;
    }
    .education{
        padding-top: 30px;
    }
    .skills-all{
        padding-left: 20px;
    }
    .shade-1{
        display: none;
    }
    .work , .projects-section{
        padding-top: 50px;
    }
    .tags-list{
        flex-wrap: wrap;
    }
    .btn-tag{
        font-size: 12px;
    }
    .btn-keep-inline {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
    .frame-img{
        padding-top: 40px;
    }
    .f-img-div{
        text-align: center;
    }
    .interests{
        text-align: center;
        padding-bottom: 50px;
    }
    .interests img{
        margin-top: 20px;
    }
    .slick-slide img{
        min-width: 100%;
    }

}
@media (min-width: 768px) and (max-width: 1199px) {
    html{
        max-width: 100%;
        overflow-x: hidden;
    }
    .about-btn , .email-btn , .about-text , .master{
        width: 100%;
    }
    .about-btn{
        padding-inline: 5px;
        font-size: 10px;
    }
    .about .list-1{
        gap: 5px;
    }
    .work{
        margin-top: 80px;
    }
    .skills-all{
        padding-left: 60px;
    }
    .tags-list{
        flex-wrap: wrap;
    }
}
@media (min-width: 1400px) {
    html{
        max-width: 100%;
        overflow-x: hidden;
    }
    .a-div{
        padding-top: 80px;
    }
    .skills , .projects-section{
        padding-top: 100px;
    }
    .work{
        margin-top: 30px;
    }
    .interests{
        margin-top: 100px;
    }
    .about-btn{
        min-width: 100%;
    }
}
